.venv
__pycache__/
*.pyc
job_trends_agent/__pycache__/__init__.cpython-311.pyc
job_trends_agent/__pycache__/settings.cpython-311.pyc
job_trends_agent/__pycache__/urls.cpython-311.pyc
job_trends_agent/__pycache__/wsgi.cpython-311.pyc
db.sqlite3
.env
rag_app/migrations/__pycache__/__init__.cpython-311.pyc
rag_app/__pycache__/views.cpython-311.pyc
rag_app/__pycache__/urls.cpython-311.pyc
rag_app/__pycache__/__init__.cpython-311.pyc
/knowledge_source
/PickleFiles
/mlruns
/crawled_data
/data/** 
experiments/.ipynb_checkpoints/indexing_docs-checkpoint.ipynb

!/data/web_search_cache.json
!/data/doc_mapping.json
!/data/rlhf_feedback_log.jsonl
